- alias: mode presence out
  trigger:
  - entity_id: input_select.mode_presence
    platform: state
  action:
  - data_template:
      payload: '{{ states(''input_select.mode_presence'') }}'
      retain: true
      topic: /jarvis/cmnd/special/mode_presence
    service: mqtt.publish

- alias: Mode presence in
  trigger:
  - platform: mqtt
    topic: /jarvis/cmnd/special/mode_presence
  action:
  - data_template:
      entity_id: input_select.mode_presence
      option: '{{ trigger.payload }}'
    service: input_select.select_option

- alias: mqtt_in_reveil_set_time
  initial_state: 'on'
  trigger:
    platform: mqtt
    topic: "/jarvis/rez/chambre/reveil/state/TIME"
  action:
    service: input_select.select_option
    data_template:
      entity_id: input_select.reveil
      option: "{{ trigger.payload }}"
- alias: mqtt_out_reveil_set_time
  initial_state: 'on'
  trigger:
    platform: state
    entity_id: input_select.reveil
  action:
    service: mqtt.publish
    data_template:
      retain: true
      topic: "/jarvis/rez/chambre/reveil/cmnd/TIME"
      payload: "{{ states('input_select.reveil') }}"


- alias: mqtt_in_scene_salon_set_time
  initial_state: 'on'
  trigger:
    platform: mqtt
    topic: "/jarvis/rez/salon/scene_salon/state/SCENE"
  action:
    service: input_select.select_option
    data_template:
      entity_id: input_select.scene_salon
      option: "{{ trigger.payload }}"
- alias: mqtt_out_scene_salon_set_time
  initial_state: 'on'
  trigger:
    platform: state
    entity_id: input_select.scene_salon
  action:
    service: mqtt.publish
    data_template:
      retain: false
      topic: "/jarvis/rez/salon/scene_salon/cmnd/SCENE"
      payload: "{{ states('input_select.scene_salon') }}"


- alias: mqtt_in_aspirateur_robot_salon_status_docked
  initial_state: 'on'
  trigger:
    platform: mqtt
    topic: "valetudo/osvaldo/StatusStateAttribute/status"
  condition:
    condition: 'template'
    value_template: '{{ trigger.payload == "docked" }}'
  action:
    service: input_select.select_option
    data_template:
      entity_id: input_select.aspirateur_robot_salon_status
      option: Base
- alias: mqtt_in_aspirateur_robot_salon_status_cleaning
  initial_state: 'on'
  trigger:
    platform: mqtt
    topic: "valetudo/osvaldo/StatusStateAttribute/status"
  condition:
    condition: template
    value_template: '{{ trigger.payload == "cleaning" }}'
  action:
    service: input_select.select_option
    data_template:
      entity_id: input_select.aspirateur_robot_salon_status
      option: Nettoyer tout
- alias: mqtt_in_aspirateur_robot_salon_status_moving
  initial_state: 'on'
  trigger:
    platform: mqtt
    topic: "valetudo/osvaldo/StatusStateAttribute/status"
  condition:
    condition: template
    value_template: '{{ trigger.payload == "moving" }}'
  action:
    service: input_select.select_option
    data_template:
      entity_id: input_select.aspirateur_robot_salon_status
      option: Vider bac

- alias: mqtt_out_aspirateur_robot_salon_satus_basic_control
  initial_state: 'on'
  trigger:
    platform: state
    entity_id: input_select.aspirateur_robot_salon_status
  action:
    service: mqtt.publish
    data_template:
      retain: false
      topic: "valetudo/osvaldo/BasicControlCapability/operation/set"
      payload: >
          {% if is_state('input_select.aspirateur_robot_salon_status','Base') %}
            HOME
          {% elif is_state('input_select.aspirateur_robot_salon_status','Nettoyer tout') %}
            START
          {% endif %}
- alias: mqtt_out_aspirateur_robot_salon_status_map_segment
  initial_state: 'on'
  trigger: 
    platform: state
    entity_id: input_select.aspirateur_robot_salon_status
  action:
    service: mqtt.publish
    data_template:
      retain: false
      topic: "valetudo/osvaldo/MapSegmentationCapability/clean/set"
      payload: >
          {% if is_state('input_select.aspirateur_robot_salon_status','Nettoyer couloir') %}
            {"action": "start_segment_action","segment_ids": ["17","21","20"],"iterations": 1,"customOrder": true}
          {% elif is_state('input_select.aspirateur_robot_salon_status','Nettoyer cuisine') %}
            {"action": "start_segment_action","segment_ids": ["22"],"iterations": 1,"customOrder": true}
          {% endif %}
- alias: mqtt_out_aspirateur_robot_salon_status_location
  initial_state: 'on'
  trigger: 
    platform: state
    entity_id: input_select.aspirateur_robot_salon_status
  action:
    service: mqtt.publish
    data_template:
      retain: false
      topic: "valetudo/osvaldo/GoToLocationCapability/go/set"
      payload: >
          {% if is_state('input_select.aspirateur_robot_salon_status','Vider bac') %}
            '{"action": "goto", "coordinates": {"x": 2739,"y": 2616}}'
          {% endif %}
- alias: mqtt_out_aspirateur_robot_salon_status_zones
  initial_state: 'on'
  trigger: 
    platform: state
    entity_id: input_select.aspirateur_robot_salon_status
  action:
    service: mqtt.publish
    data_template:
      retain: false
      topic: "valetudo/osvaldo/ZoneCleaningCapability/start/set"
      payload: >
          {% if is_state('input_select.aspirateur_robot_salon_status','Nettoyer table manger') %}
            4a79e0c6-cc84-4b9a-bfdb-7ad601f69d29
          {% endif %}
